@import "variables";
@import "mixins";
@import "components";

body {
  font-family: $font-secondary;
}

.navbar {
  background-color: $primary-color !important;
}

footer {
  @include flex-center;
  background-color: $secondary-color;
}
