@import "variables";
@import "mixins";
@import "components";

body {
  font-family: $font-secondary;
}

.navbar {
  background-color: $primary-color !important;
}

footer {
  @include flex-center;
  background-color: $secondary-color;
}
header {
  margin-bottom: 3rem;
}
main {
  section {
    margin-top: 2rem;  
    margin-bottom: 2rem; 
  }
}
